* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

input {
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 35px;
  max-width: 350px;
  width: 95%;
  transform: translateY(200px);
  border: 2px solid gray;
  background-color: transparent;
  padding: 0.5rem 2rem;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  transform: translateY(200px);
  text-transform: uppercase;
}

.find-stranger {
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-weight: bold;
}

.find-stranger:hover {
  background-color: white;
}

.find-stranger:active {
  background-color: bisque;
}
